body{
  background: rgb(156,196,186);
  background: linear-gradient(220deg, rgba(156,196,186,1) 0%, rgba(115,170,141,1) 100%);}
.wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.wrapper button{
    border-radius: 15px;
    padding: 15px;
    background: rgb(52,181,149);
    background: linear-gradient(305deg, rgba(52,181,149,1) 0%, rgba(14,221,131,1) 100%);    color: black;
    font-weight: bolder;
    cursor: pointer;
}
.accordian {
  width: 400px;
}

.item {
  background: linear-gradient(305deg, rgba(52,181,149,1) 0%, rgba(14,221,131,1) 100%);    color: black;
  margin-bottom: 10px;
  padding: 10px 20px;
  border-radius: 15px;
}

.title {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.content {
  color: black;
  font-weight: bold;
  height: auto;
  border-color: black 5px;
  text-justify: auto;
}
