.wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.wrapper button{
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    background-color: rgb(224, 162, 70);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.accordian {
  width: 500px;
}

.item {
  background: rgb(224, 162, 70);
  margin-bottom: 10px;
  padding: 10px 20px;
  border-radius: 5px;
}

.title {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.content {
  color: white;
  height: auto;
}
